html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    font-family: 'Barlow', sans-serif;
}

#logo{
    margin-top:  3.80859vh;
    margin-bottom: 24.12109vh;
}

main{

    background-color: #E5E5E5;
    width: 940px;
    height: 437px;
    border: 3px solid #51E678;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

h1{
    margin-top: 32px;
    margin-bottom:0px;
    font-size: 42px;
    color: rgba(41, 41, 41, 0.8);
    font-weight: 700;
}

main:nth-child(2){
    font-size: 64px;
    color: #292929;
    font-weight: 800;
    margin-top: 0px;

}

button{
    margin-top: 32px;
    width: 412px;
    height: 64px;
    background: #51E678;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button p{
    font-size: 32px;
    color: #292929;
    font-weight: 700;
}